= form_for Item.new do |f|
  .form-group
    = f.label :caption
    = f.text_field :caption, class: "form-control"

  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control"

  .form-group
    = f.label :address
    = f.text_area :address, class: "form-control"

  .form-group
    = f.label :tags
    = f.text_area :tags, class: "form-control"

  .form-group
    = f.label :category
    = f.text_area :category, class: "form-control"

  = f.submit "Save", class: "btn btn-primary"
  | &nbsp;
  a.btn.btn-danger ng-click="ctrl.destroy(ctrl.item)" ng-if="ctrl.item.id" Destroy