h1 Items

input.form-control type="text" ng-model="ctrl.searchVal" ng-change="ctrl.search()" placeholder="Search by caption and description"
br

table.table.table-striped ng-table="ctrl.tableItems"
  tr ng-repeat="item in $data"
    td title="'Id'" {{item.id}}
    td title="'Caption'"
      a ui-sref="item_path(item)" {{item.caption}}
    td title="'Category'" filter="{category: 'text'}" {{item.category}}
    td title="'Description'" {{item.description}}
    td title="'Address'" {{item.address}}
    td title="'Tags'" filter="{tags: 'text'}" {{item.tags}}
    td.w1
      a.btn.btn-danger ng-click="ctrl.destroy(item)" Delete
      a.btn.btn-primary ui-sref="edit_item_path(item)" Edit
