table style="width: 100%;"
  tr
    td.row-caption Caption
    td.row-value ng-bind="ctrl.item.caption"
  tr
    td.row-caption Category
    td.row-value ng-bind="ctrl.item.category"
  tr
    td.row-caption Description
    td.row-value ng-bind="ctrl.item.description"
  tr
    td.row-caption Address
    td.row-value ng-bind="ctrl.item.address"
  tr
    td.row-caption Tags
    td.row-value ng-bind="ctrl.item.tags"

a.btn.btn-primary ui-sref="edit_item_path(ctrl.item)" Edit
a.btn.btn-danger ng-click="ctrl.destroy(ctrl.item)" Delete