/*
 *= require oxymoron/ng-notify
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.rails-errors {
    color: red;
    font-size: 12px;
}

.w1 {
    width: 1px;
    white-space: nowrap
}

.row-caption {
  width: 15%;
  font-family: sans-serif;
  font-size: smaller;
  font-weight: bold;
  padding: 10px;
}