html ng-app="app"
  head
    title RndSoftTask
    base href="/"
    = stylesheet_link_tag 'application'
  body
    .container
      .navbar.navbar-default
        .container-fluid
          ul.nav.navbar-nav
            li ui-sref-active="active"
              a ui-sref="items_path" All items
            li ui-sref-active="active"
              a ui-sref="new_item_path" New item
      ui-view
    = javascript_include_tag 'application'